
/** L책t denna kod vara kvar. Den kommer att ge en vit bakgrundsf채rg
 till din musikspelare n채r du l채gger till en audio-tag i HTML:en. **/
 
audio::-webkit-media-controls-panel {
    background: #ffffff;
}

main {
    
    
    border: solid 1px grey;
    font-size: 12px;


}
img {
    display: block;
    max-width :50%;
    margin: 0 auto;
   
}

h1 {
    text-align: center;
    
    
}
/* div {
    margin: 0 auto;
    border: 0px;
    border: solid 1px grey;
    
} */

audio {
    margin: auto;
    display: block;
}
