
/** Låt denna kod vara kvar. Den kommer att ge en vit bakgrundsfärg
 till din musikspelare när du lägger till en audio-tag i HTML:en. **/
 * {
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     color: saddlebrown;
     font-size: 1,5em;
 }
 body {
     
     
 }
audio::-webkit-media-controls-panel {
    background: #ffffff;
}

main {
    border: solid 1px grey;
    
}

img {
    display: block;
    max-width :80%;
    margin: auto;
    border: solid 1px red;
    
   
}

h1 {
    text-align: center;
}

p {
    text-align: center;
    margin: auto;
}

audio {
    margin: auto;
    display: block;
}
