
/** Låt denna kod vara kvar. Den kommer att ge en vit bakgrundsfärg
 till din musikspelare när du lägger till en audio-tag i HTML:en. **/
 
audio::-webkit-media-controls-panel {
    background: #ffffff;
}

main {
    
    border-color: grey 1px;
}
img {
    display: block;
    max-width :50%;
    margin: 0 auto;
   
}

h1 {
    text-align: center;
    
    
}
div {
    margin: 0 auto;
    border: 0px;
    border: solid 1px grey;
    
}
